/* For testing only  - Leroi Dejesa */

*:not(body):not(html) {
  box-sizing:border-box;
  // border: 1px groove firebrick;
}

.columns, .fixed {
  min-height: 100px;
}
/* End for testing */

/*
dark color: #0e3b43
red color: #bb0a21
yellow green: #f7b32b
*/

$spacegray: hsla(210%, 4%, 29%, 1);
$lightgray: rgba(153, 153, 153, 1);
$mediumgray: rgba(115, 115, 115, 1);
$darkgray: rgba(254, 254, 254, 1);

body {
  background-color: $lightgray;
}

video {
  margin-top: 2vh;
  max-width: 31vw;
}

#beefy {
  font-size: 100px;
}

.row {
  text-align: center;
}

button {
  background-color: $darkgray;
}
body {
  font-family: 'Luminari';
}

// so here's the gallery setup

.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.box {
  width: 90vw;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.covervid-wrapper {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #334;
  width: 100%;
  font: #eee;
}

.flexed {
  display: flex;
  justify-content: space-around;
}

.flexed li {
  margin: 1em;
  font-size: 1.3em;
  text-align: center;
  list-style-type: none;
}

#boxb {
  background-color: $spacegray;
  width: 95vw;
  margin-top: 0;
  h1 {
    color: firebrick;
    text-align: center;
    padding-top: 3vh;
  }
}
#box1, #box3, #box5 {
  background-color: #bb0a21;
}
#box2, #box4, #box6 {
  background-color: #f7b32b;
}
#boxf {
  background-color: #0e3b43;
}

/*gradients*/
#gradient {
  background: cornsilk; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(DarkOrange, orange, khaki, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(DarkOrange, orange, khaki, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(DarkOrange, orange, khaki, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(DarkOrange, orange, khaki, white); /* Standard syntax */
}

/*Media Queries**********************/
/*mobile (first)*/
@media screen and (max-width: 600px){
  .flexed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .flexed li {
    margin: .5em;
    font-size: 1em;
  }
  .box {
    height: 150px;
  }
}
/*tablet*/
@media screen and (min-width: 601px) and (max-width: 800px) {
  /*box numbering backwards, beware*/
  .box:nth-child(even) {
    width: 45vw;
    float: left;
    margin-left: 4vw;
  }
  .box:nth-child(odd) {
    width: 45vw;
    float: right;
    margin-right: 4vw;
  }
}
/*desktop*/
@media screen and (min-width: 801px){
  #boxb {
    height: 10vh;
  }

  #box1, #box4 {
    margin-left: 10vw;
  }

  .box {
    height: 250px;
  }

  .box:nth-child(n+3) {
    width: 25vw;
    float: left;
    margin: 1vw;
  }

  .box:nth-child(-n+3) {
    width: 25vw;
    float: left;
    margin: 1vw;
  }
}
